body{
	box-sizing: border-box;
	font-family: 'Mitr', sans-serif;
}
.header_title{
	color:#8a1621;
}
.header_title:hover{
	color:#140929;
}
.header_p{
	font-size: 1.4vw;
}
.main_h3{
	color:#8a1621;
}
.main_span{
	font-size:2vw;
	color:#140929;
}
.grey_container{
	background: #EFEFEF;
}
.red_container{
	background: #8a1621;
}
.shop_select{
	width: 13em;
}
.text_red{
	color:#8a1621;
}
.picture_img{
	max-width: 100%;
}
.red{
	background-color: #8a1621;
}
.red_border{
	border-top:1px solid #101212;
}
.final_text{
	color:white;
	text-shadow: 6px 6px silver;
	text-decoration: underline;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-150%);		
}
@media (max-width: 576px) { 
	.header_btn{
		font-size: 0.7em;
	}
	.header_title{
		font-size: 1em;
	}
	.header_h2{
		font-size: 1.3em;
	}
	.account_drp{
		font-size: 0.8em;
	}
	.header_opt{
		font-size: 0.7em;
	}
	.header_select{
		font-size: 0.8em;
	}
	.header_drp_btn{
		font-size: 0.8em;
	}
	.h_main_body, .h_main_body2{
		font-size:1.1em;
	}
	.h_main_body1{
		font-size:2em;
	}
	.alert_span{
		font-size:1em;	
	}
	.categories_h3{
		font-size:2.2em;
	}
	.sp_text{
		font-size: 1em;
	}
	.product_h6{
		font-size: 1em;
	}
	.shopping_total{
		font-size: 0.9em;
	}
	.shopping_btn{
		font-size: 0.7em;
	}
	.shopping_input{
		font-size: 0.6em;
	}
	.shopping_link{
		font-size: 0.6em;
	}
	.order_text{
		font-size: 0.7em
	}
	.final_text{
		text-shadow: 1px 1px silver;
		font-size: 1.5em;
	}
	.final_main{
		height: 25vh;
	}
}
@media (min-width: 577px) and (max-width: 768px){ 
	.header_title{
		font-size: 1.3em;
	}
	.header_btn{
		font-size: 1em;
	}
	.header_h2{
		font-size: 2.2em;
	}
	.header_opt{
		font-size: 0.7em;
	}
	.account_drp{
		font-size: 1em;
	}
	.footer_link{
		font-size: 1.3em;
	}
	.h_main_body, .h_main_body2{
		font-size:1.8em;
	}
	.h_main_body1{
		font-size:2.5em;
	}
	.alert_span{
		font-size:2.5em;	
	}
	.categories_h3{
		font-size:2.5em;
	}
	.shopping_total{
		font-size: 0.9em;
	}
	.final_text{
		font-size: 3em;	
		text-shadow: 1.5px 1.5px silver;

	}
	.final_main{
		height: 50vh;
	}
}
@media (min-width: 769px) and (max-width: 992px){ 
	.header_btn{
		font-size: 1.2em;
	}
	.header_h2{
		font-size: 3em;
	}
	.footer_link{
		font-size: 1.4em;
	}
	.h_main_body, .h_main_body2{
		font-size:1.5em;
	}
	.h_main_body1{
		font-size:1.8em;
	}
	.header_title{
		font-size: 1em;
	}
	.header_drp_div{
		width: 11em;
	}
	.account_drp{
		font-size: 1em;
	}
	.alert_span{
		font-size:3em;	
	}
	.main_h3{
		font-size:3em;
	}
	.categories_h3{
		font-size:3em;
	}
	.product_h6{
		font-size: 1.5em;
	}
	.shopping_total{
		font-size: 1.3em;
	}
	.final_text{
		font-size: 4em;
		text-shadow: 1.8px 1.8px silver;

	}
	.final_main{
		height: 50vh;
	}
}
@media (min-width: 993px) and (max-width: 1200px){ 
	.header_btn{
		font-size: 1.5em;
	}
	.header_h2{
		font-size: 3.5em;
	}
	.header_opt{
		font-size: 0.7em;
	}
	.account_drp{
		font-size: 1em;
	}
	.footer_link{
		font-size: 1.5em;
	}
	.h_main_body{
		font-size:1em;
	}
	.h_main_body1, .h_main_body2{
		font-size:2.1em;
	}
	.header_drp_div{
		width: 11em;
	}
	.alert_span{
		font-size:3em;	
	}
	.main_h3{
		font-size:4em;
	}
	.categories_h3{
		font-size:3em;
	}
	.product_h6{
		font-size: 2em;
	}
	.shopping_input{
		font-size: 0.9em;
	}
	.final_text{
		font-size: 5em;
	}
	.final_main{
		height: 100vh;
	}
}
@media (min-width: 1201px){ 
	.header_btn{
		font-size: 1.6em;
	}
	.footer_link{
		font-size: 1.6em;
	}
	.h_main_body{
		font-size:1.5em;
	}
	.h_main_body1, .h_main_body2{
		font-size:2.8em;
	}
	.alert_span{
		font-size:5.7em;	
	}
	.main_h3{
		font-size:5em;
	}
	.categories_h3{
		font-size:3.9em;
	}
	.product_h6{
		font-size:2.2em;
	}
	.checkout_div{
		width: 35em;
	}
	.checkout_input{
		height: 3.2em;
	}
	.shopping_total{
		font-size: 1.5em;
	}
	.order_text{
		font-size: 1.4em
	}
	.final_text{
		font-size: 10em;
	}
	.final_main{
		height: 100vh;
	}
}
